<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<title>List Todos Page</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-light bg-light mb-3 p-1">
			<a class="navbar-brand m-1" href="https://github.com/muhammad-mahad">Muhammad Mahad</a>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/allTodos">Todos</a></li>
				</ul>
			</div>	
		</nav>
		<div class="container">
			<h1>Your Todos</h1>
			<table class="table">
				<thead class="thead-dark">
					<tr style="font-weight:bold">
						<th>id</th>
						<th>Description</th>
						<th>Target Date</th>
						<th>Is Done?</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>	
					<tr th:each="todo:${todo}">
						<td th:text="${todo.getId()}">id</td>
						<td th:text="${todo.getDescription()}">Description</td>
						<td th:text="${todo.getLocalDate()}">Target Date</td>
						<td th:text="${todo.isDone()}">Is Done?</td>
						<td> <a th:href="@{/deleteTodo/(id=${todo.getId()})}" class="btn btn-warning">Delete</a>   </td>
						<td> <a th:href="@{/updateTodo/(id=${todo.getId()})}" class="btn btn-success">Update</a>   </td>
					</tr>
				</tbody>
			</table>
			<a href="addTodo" class="btn btn-success">Add Todo</a>
		</div>
		<!-- jQuery -->
    	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<!-- Bootstrap JS and Popper.js (required for Bootstrap components) -->
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>